@use '../abstract/functions' as f;
@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

// Mobile-first grid system

.testimonial-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    height: 100%;
    padding: clamp(f.rem(16), 5vw, f.rem(32));
    min-width: f.rem(375);
    max-width: f.rem(1440);
}

.testimonial {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: f.rem(30);
}