@use '../abstract/functions' as f;
@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

// Mobile-first grid system

.testimonial-container {
    display: grid;
    place-items: center;
    
}

.testimonial {
    display: grid;
    gap: f.rem(30);
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five';

    @media screen and (min-width: 480px) {
        grid-template-areas: 
        'one one'
        'two five'
        'three five'
        'four four';
        
    }


    @media screen and (min-width: 768px) {
        grid-template-areas: 
        'one one two five'
        'three four four five';
        
    }
}

.testimonial > .testimonial__card:nth-child(1) {
    grid-area: one;
}

.testimonial > .testimonial__card:nth-child(2) {
    grid-area: two;
}

.testimonial > .testimonial__card:nth-child(3) {
    grid-area: three;
}

.testimonial > .testimonial__card:nth-child(4) {
    grid-area: four;
}

.testimonial > .testimonial__card:nth-child(5) {
    grid-area: five;
}   