@use '../abstract/functions' as f;
@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

body {
    display: grid;
    place-items: center;
    background-color: v.$purple-50;
    line-height: 1.5;
    min-height: 100dvh;
    margin: 0;
}

a:focus-visible, button:focus-visible {
    outline: 3px dashed v.$purple-700; 
    outline-offset: 4px; 
}